.verticalLayout > * {
    display: block;
}

div {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    white-space: pre;
}

#programInput {
    height: 150px;
}

#proofTree {
    height: 400px;
}